html, body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50vh;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}

.invisible{
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    margin: 0;
    padding: 0;
    display: block;
}

header,
main,
footer{
    text-align: center;
}

header,
.form,
main{
    width: 90%;
    max-width: 500px;
    margin: 0 auto 70px;
}

header button{
    margin-top: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #ff4f4f;
    color: white;
    font-weight: bold;
    border: none;
}

.logo{
    width: 120px;
    margin: 70px 0 ;
}

header p{
    font-size: 14px;
}

h1, h2{
    color: #000000cc;
}

header h1, main h2{
    margin-bottom: 70px;
}

.form h2{
    text-align: right;
    color: #ffffffee;
    font-size: 18px;
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px;
    align-items: center;
    background-color: #ff4f4f;
    padding: 16px 64px;
    border-radius: 6px;
}

form input,
fieldset button{
    width: 100%;
    margin-bottom: 4px;
    padding: 8px 16px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ffffffee;
}
form input{
    background-color: transparent;
}

form input::placeholder{
    color: #ffffffaa;
}

form button{
    font-weight: bold;
}

fieldset{
    border: 0;
    margin: 0;
    padding: 0;
}

main h2 span{
    color: #ff4f4f;
}

main .donors{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.blood{
   color: #ff4f4f;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.blood::before{
    content: "";
    background-color: rgba(255, 79, 79, 0.24);
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    border-top-right-radius: 0 ;
    transform: rotate(-45deg);
}

.donor p{
    margin-top: 24px;
    margin-bottom: 64px;
    font-size: 14px;
}

footer{
    margin-top: auto;
    padding: 16px;
    border-top: 1px solid #eee;
}
section.form{
    transition: all .5s cubic-bezier(.1,.73,.21,.9);
}

section.form.hide{
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin-top: -70px;
    overflow: hidden;
}